.tag-cloud{
    /*position: fixed;*/
    top: 30%;
    right: 0;
    /*width: 350px;*/
}
.tag-cloud .item{
    /* background-color: #37b337; */
    /* border: 1px dashed #7d00bd; */
    /* height: 30px; */
    /* line-height: 30px; */
    padding: 0 10px;
    /* border-radius: 10px; */
    /* box-sizing: content-box; */
    margin: 2px;
    float: left;
    transition: .5s;
    opacity: .6;
}
.tag-cloud .item:hover{
    background-color: #15c394;
    opacity: 1;
}
.tag-cloud .item.selected{
    background-color: #6097c5;
}
.tag-cloud .item.selected .link{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.tag-cloud .item.selected:hover{
    background-color: #6097cf;
}
.tag-cloud .item .link,
.clear-all{
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    position: relative;
    text-decoration: underline;
}
.clear-all{
    clear: both;
    display: block;
    transition: .5s;
    margin-left: 40px;
    padding-top: 20px;
}
.clear-all:hover{
    color: grey;
}

.clear-all:before{
    content: 'x';
    display: block;
    position: absolute;
    left: -15px;
    top: 18px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    color: #f93b3b;
}