.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/*WARNIGN BONE!!!!!!!!!!!*/
.brand-logo,
.ui-to-top.active:after {
  background-image: url(/images/logo_blur.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/*@media (min-width: 1440px) {*/
  .brand-logo{
    position: absolute;
    height: 200px;
    width: 400px;
    top: 0;
    right: 0;
    z-index: 1000;
  }
/*}*/
.ui-to-top:after{
  height: 0;
  transition: .5s;
  content: '';
  display: block;
  opacity: 0;
  transition: .8s;
}
.ui-to-top.active:after{
  height: 50px;
  position: fixed;
  width: 100px;
  right: -30px;
  bottom: calc(100vh - 100px);
  z-index: auto;
  opacity: 1;
}
.search-string{
  color: black;
  font-weight: bold;
}
.match{
  background-color: yellow;
}
.form-group{
  margin-top: 40px;
}
/*.cart a{*/
  /*position: absolute;*/
  /*top: 20px;*/
  /*right: 20px;*/
  /*background-image: url(/images/cart.png);*/
  /*background-size: cover;*/
  /*width: 120px;*/
  /*height: 70px;*/
  /*cursor: pointer;*/
  /*z-index: 1000;*/
/*}*/
/*.sign{*/
  /*z-index: 1000;*/
  /*color: white;*/
  /*font-weight: bold;*/
  /*position: absolute;*/
  /*cursor: pointer;*/
/*}*/
/*a.sign{*/
  /*background-image: url(/images/key.png);*/
  /*background-size: cover;*/
  /*width: 2vw;*/
  /*height: 2vw;*/
  /*position: absolute;*/
  /*z-index: 1000;*/
  /*top: 35px;*/
  /*right: -50px;*/
/*}*/
/*@media (max-width: 768px) {*/
  /*.cart a{*/
    /*width: 60px;*/
    /*height: 35px;*/
    /*top: 10px;*/
    /*right: 50px;*/
  /*}*/
/*}*/

